!!!5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= site.name

    if (!!meta && meta.description)
      meta(name='description', content='#{ meta.description }')

    link(href='//fonts.googleapis.com/css?family=Metrophobic|Orbitron:400,900,700', rel='stylesheet')
    link(href='/assets/css/app.css', rel='stylesheet')

    link(rel='shortcut icon', href='/favicon.ico?v=3.1')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')

    //if lt IE 9
      script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    header.site-header
      .container
        h1
          a.link-logo(href='/', title='#{ site.name }')
            img.img-logo.img-responsive(src='/assets/img/web-logo-main-500.png', alt='#{ site.name }')

    .container
      nav.navbar.navbar-inverse
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav')
            span.sr-only Navigate
            span.icon-bar
            span.icon-bar
            span.icon-bar
          ul.nav.navbar-nav#nav
            li.active: a(href='/index.html') Home
            li.dropdown
              a.dropdown-toggle(href='#about', data-toggle='dropdown') About Us
                span.caret
              ul.dropdown-menu
                li: a(href='#leadership') Leadership
                li: a(href='#pm') Project Management Process
                li: a(href='#intl') Propper International Profile
            li.dropdown
              a.dropdown-toggle(href='#services', data-toggle='dropdown') Services
                span.caret
              ul.dropdown-menu
                li: a(href='#target') Target Market
                li: a(href='#negot') Negotiating Projects
                li: a(href='#constr') Construction Services Provided
            li: a(href='#contact') Contact Us

    .site-main
      != yield

    footer.site-footer
      .container
        .row
          .col-xs-12
            p &copy; #{ new Date().getFullYear() } #{ site.name }

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/assets/js/bootstrap.min.js')
    script(src='/assets/js/main.js')
