<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= site.name %></title>
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
  <body>

    <header class="site-header">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><%= site.name %></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </nav>
      <!-- /navbar -->
    </header>
    <!-- /site-header -->


    <main class="site-main">
      <div class="container">
        <%- yield %>
      </div>
    </main>
    <!-- /site-main -->


    <footer class="site-footer">
      <div class="container">
        <p class="legal">&copy; <%= new Date().getFullYear() %> <%= site.name %></p>
        <p class="credit">Site by <a href="http://www.groovywebdesign.com/" title="We make great websites" target="_blank">Groovy</a></p>
      </div>
    </footer>
    <!-- /site-footer -->


    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>

  </body>
</html>